<!DOCTYPE html>
<html>
<head>
  <title>User Details</title>
  <style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  table {
    margin: 0 auto;
    max-width: 800px;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  td {
    color: #333;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  </style>
</head>
<body>
  <h1>User Details</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>

    </tr>
    
    <% users.forEach((user) => { %>
      <tr>
        <td><a href="/specdetails/<%= user._id %>"><%= user.name %></a></td>
        <td><%= user.email %></td>        
      </tr>
    <% }); %>
  </table>

  <form method="POST" action="/logout">
    <button type="submit">Logout</button>
  </form>
</body>
</html>

</html>
