<!DOCTYPE html>
<html>
<head>
  <title>Record Payment</title>
</head>
<body>
  
  <h1>Current Balance: <%= balance %></h1>
  <h2>Record Payment</h2>
  <form method="POST" action="/record-payment">
    <label for="description">Description:</label>
    <input type="text" name="description" id="description" required><br>
  
    <label for="amount">Amount:</label>
    <input type="number" name="amount" id="amount" required><br>
  
    <input type="submit" value="Record a Payment">
  </form>
</body>
</html>
